{% extends 'base.html' %}

{% block title %}RAUSS{% endblock %}

{% block content %} 
<!-- Sobre -->
{% include 'includes/sobre.html' %}

<hr>
<div class="titulos"><h1>PORTIFÓLIO</h1></div>

<!-- Portifolio -->
{% include 'includes/portifolio.html' %}

<hr>
<div class="titulos"><h1>PROJETOS EM ANDAMENTO</h1></div>

<!-- Projetos -->
{% include 'includes/projetos.html' %}

<!-- Mapa da localização -->
<div class="row border-top">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.004881325117!2d-49.268748885654915!3d-25.438100339440883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce5233259639f%3A0xb80c7a160a2305a5!2sRauss%20Engenharia!5e0!3m2!1spt-BR!2sbr!4v1629103774382!5m2!1spt-BR!2sbr" 
  width="100%" height="300em" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

{% endblock %}

