{% load static %}

    <div class="row">
        <div class="about-bg">
            <div class="glass-window">
                <div class="about">
                    <h1 id="titulo_sobre">RAUSS Engenharia</h1>
                    <p>
                        Buscamos fazer diferente! Explorar novas tecnologias, acessibilizar o consumo e o 
                        investimento no setor, realizando os sonhos dos nossos clientes em cada detalhe. 
                        Viabilizamos investimentos seguros, éticos e democráticos no mercado imobiliário.
                    </p>
                </div>
                
                <div class="btn-section">
                    <a class="btn-orcamento" role="button" type="submit" href="{% url 'venda_seu_terreno' %}">Venda seu terreno aqui!</a>
                </div>
                <!--
                <img src="{% static 'media/predioBG.jpg' %}" alt='Imagem de fundo de prédios' style="width:100%; height:30em;"> -->
            </div>
        </div>
    </div>

